# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.angular
/.vscode
/.vs/AngularBootCampHomeworksGamalielMendez/FileContentIndex
/.vs/AngularBootCampHomeworksGamalielMendez/config
/.vs/AngularBootCampHomeworksGamalielMendez/v17/.wsuo
/.vs/AngularBootCampHomeworksGamalielMendez/FileContentIndex/259fa6b1-dc60-4163-8820-1cc3298cffa6.vsidx
/.vs/AngularBootCampHomeworksGamalielMendez/FileContentIndex/74c7fc28-2dc3-4da9-9b44-e4ea49dfe69a.vsidx
/.vs/slnx.sqlite
*.json
