<main class="main">
  <div class="content">
    <p>Exercise 2 !!</p>
  </div>

  <p>ngFor</p>
  <ul>
    <li *ngFor="let item of Letters">{{ item }}</li>
  </ul>

  <p>ngIf</p>
  <ul>
    <ng-container *ngFor="let item of Letters">
      <li *ngIf="item != 'B'">{{ item }}</li>
    </ng-container>
  </ul>

  <!-- Note: I found this other way of doing it using control flow from angular 17 :) -->
  <p>ngfor and ngif with control flow syntax</p>
  <ul *ngFor="let item of Letters">
    <li *ngIf="item != 'B'">{{ item }}</li>
  </ul>

  <p>ngSwitch</p>
  <ul>
    <ng-container *ngFor="let item of Letters">
      <container-element [ngSwitch]="item">
        <li *ngSwitchCase="'A'">1</li>
        <li *ngSwitchCase="'B'">2</li>
        <li *ngSwitchCase="'C'">3</li>
      </container-element>
    </ng-container>
  </ul>
</main>
